node_modules/**/*
.expo/*
npm-debug.*
.vscode
ios/Pods
ios/tatasky-broadband/Supporting/ExBuildConstants.json
ios/tatasky-broadband/Supporting/ExBuildConstants.plist
ios/tatasky-broadband/Supporting/ExBuildConstants.plist.bak
ios/.DS_Store
ios/tatasky-broadband.xcodeproj/xcuserdata/
ios/tatasky-broadband.xcworkspace/xcuserdata/
ios/build
ios/tatasky-broadband.xcodeproj/project.xcworkspace/xcuserdata/
android/app/src/main/java/com/tataskybroadband/generated/*
android/app/build/*
android/build/*
*.apk
*.class
*.dex

